@model DevicesListViewModel

    <h1>@Model.CurrentSection</h1>
    @foreach (var device in Model.Devices)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h2 class="pull-right">@device.DeviceId.ToString()</h2>
                    <h3>
                        <a>@device.Name</a>
                    </h3>
                </div>
            </div>
        </div>
    }

